<table>
    <tr>
      <th><blockquote><h2>Silver</h2></blockquote>
      <blockquote><h2>59dt</h2></blockquote>
      </th>
       <th><blockquote><h2>Gold</h2></blockquote>
      <blockquote><h2>89dt</h2></blockquote>
      </th>
      <th><blockquote><h2>Gold Plus</h2></blockquote>
      <blockquote><h2>159dt</h2></blockquote>
      </th>
    </tr>
    <tr class="offre">
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Calculateur diététique       </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Calculateur diététique       </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Calculateur diététique       </div>
      </td>
    </tr>
    <tr class="offre">
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Calculateur de progression      </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Calculateur de progression      </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Calculateur de progression      </div>
      </td>
    </tr>
    <tr class="offre">
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle unchecked"></div>
  Fiche de suivi(poids,mensurations,sommeil,stress)        </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Fiche de suivi(poids,mensurations,sommeil,stress)        </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Fiche de suivi(poids,mensurations,sommeil,stress)      </div>
      </td>
    </tr>
    <tr class="offre">
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle unchecked"></div>E-BOOK
        </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle unchecked"></div>
  E-BOOK      </div>
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  E-BOOK      </div>
      </td>
    </tr>
    <tr class="offre">
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle unchecked"></div>
  Carnet d'entrainement      </div><br><br>
            <button class="buy-button">Buy</button>
  
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle unchecked"></div>
  Carnet d'entrainement        </div><br><br>
            <button class="buy-button">Buy</button>
  
      </td>
      <td>
        <div class="checkbox-container">
          <div class="checkbox-circle checked"></div>
  Carnet d'entrainement        </div><br><br>
            <button class="buy-button">Buy</button>
  
      </td>
    </tr>
  </table>
  