<h1>Dashboard</h1>
<div class="card">
    <div class="car-head"></div>
    <div class="card-body">
        <div class="text">Bienvenue sur notre site 🤗🎉🎉🎉 Votre satisfaction🥰🥰, notre priorité🎯❗🔝🔥.
        </div>
        <div class="text">Nos coachs vous guident dans l’accomplissement de vos objectifs. Notre plateforme de coaching est la solution, que ce soit pour améliorer votre image, votre vie, votre condition physique ou votre organisation. Bénéficiez de conseils précieux et de méthodes personnalisées pour atteindre vos aspirations.
        </div>
        <div class="image"><img src="assets/fit5.jpeg" alt="" height="500" width="500" /></div>
        <p>Un corps en forme ☺️🏃🏻‍♀️ et en bonne santé 😊, c'est la meilleure déclaration de mode 🥰😍.</p>
        <p><a href="https://www.youtube.com/shorts/-W6WIR-ucpc/">Coachiny-Ladie!</a></p>
        <p><a href="https://www.youtube.com/shorts/kRi4uAAXTtI/">Coachiny-Man!</a></p>


        <div class="container">

            <div class="testimonials">
                <div class="testimonial">
                    <img src="assets/profil1.jpeg" alt="">
                    <p>"Grâce à ce programme de coaching, j'ai pu non seulement atteindre mes objectifs de remise en forme, mais j'ai également découvert une nouvelle confiance en moi-même que je pensais perdue depuis longtemps. Une expérience véritablement transformative !"</p>
                    <span>Clara</span>
            </div>
             <div class="testimonial">
                    <img src="assets/profil2.jpeg" alt="">
                    <p>"Je suis épatée par les résultats que j'ai obtenus en si peu de temps ! Le soutien continu et les conseils avisés de mon coach m'ont permis de surmonter mes limites et d'accomplir des prouesses que je n'aurais jamais cru possible auparavant."</p>
                    <span>Noora</span>
            </div>
            <div class="testimonial">
                <img src="assets/prol3.jpeg" alt="">
                <p>"Ce coaching m'a permis de repousser mes limites et d'atteindre des sommets que je n'aurais jamais crus possibles. Grâce à l'encadrement expert de mon coach, j'ai transformé ma condition physique et ma santé de manière remarquable. Je recommande vivement cette expérience à tous les hommes désireux de se surpasser et d'atteindre leur plein potentiel."</p>
                <span>Jack</span>
              </div>
             </div>
             <table>
                <tr>
                  <th><img src="assets/fit5.jpeg" alt="image" height="350" width="350"></th>
                  <th><img src="assets/fit3.jpg" alt="image" height="350" width="350"></th>
                  <th><img src="assets/fit4.jpg" alt="image" height="350" width="350"></th>
                </tr>
                <tr>
                    <td><img src="assets/fit2.jpeg" alt="image" height="350" width="350"></td>
                    <td><img src="assets/fit.jpg" alt="image" height="350" width="350"></td>
                    <td><img src="assets/fit6.jpeg" alt="image" height="350" width="350"></td>
                  </tr>
              </table>
    </div>
</div>
